body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
